.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topLogo {
  padding: 0px 20px;
}
.menuLogo {
  padding: 10px;
}
.footerBar {
  width: 100%;
  height: 70px;
  margin: 30px 0px 0px;
  display: flex;
  justify-content: center;
}
.topImg {
  position: relative;
}
.backImg {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.menu-button {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.menu {
  display: none;
  border: 1px solid green;
}
.menu ul li {
  list-style-type: none;
  display: flex;
  font-size: 100%;
}
.menu--open {
  display: flex;
}
.topImg h1 {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
}
.topContentSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 40px;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}
@media (min-width: 1000px) {
  .topContentSec {
    display: inline-block;
  }
}
.bottomContentImg {
  border-radius: 20px;
}
@media (min-width: 1000px) {
  .bottomContentImg {
    width: 50%;
  }
}
.dropbtn {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  width: 257px;
  height: 38px;
  background: #ffb843;
  color: white;
  border-radius: 30px;
  box-shadow: 0px 1px 1px grey;
  outline: none;
}
.costumer-comments {
  font-size: 2rem;
  text-align: center;
  border-radius: 30px;
  border: 10px solid #65054e;
  position: relative;
}
.costumer-comments h2 {
  color: #ffb843;
}
.Slides {
  display: none;
  padding: 0% 10%;
  text-align: center;
  font-family: "lato", sans-serif;
}
.Slides .profilePic {
  border-radius: 50%;
  width: 50%;
  height: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  padding: 16px;
  font-size: 50px;
  border-radius: 20px;
  user-select: none;
  display: flex;
  justify-content: space-between;
}
.next {
  position: absolute;
  right: 0;
}
.devTeamImg {
  position: relative;
  text-align: center;
  color: white;
}
.aboutBackroundImg {
  border-radius: 20px;
}
.devTeam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
}
.devInfoSec {
  display: flex;
  flex-wrap: wrap;
}
.devInfo {
  width: 49.5%;
  font-size: 100%;
  text-align: center;
}
.profilePhoto {
  border-radius: 50%;
  width: 20%;
  height: auto;
}
* {
  max-width: 100%;
}
