.topImg {
  position: relative;
}

.backImg {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.topImg h1 {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
}

.topContentSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 40px;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  @media (min-width: 1000px) {
    display: inline-block;
  }
  .content {
    border-top: 1px dotted #059240;
    margin: 10% 0%;
  }
}

.bottomContentImg {
  @media (min-width: 1000px) {
    width: 50%;
  }
  border-radius: 20px;
}

.dropbtn {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  width: 257px;
  height: 38px;
  background: #ffb843;
  color: white;
  border-radius: 30px;
  box-shadow: 0px 1px 1px grey;
  outline: none;
  margin-bottom: 20px;
}

.costumer-comments {
  font-size: 2rem;
  text-align: center;
  border-radius: 30px;
  border: 10px solid #65054e;
  position: relative;
}

.costumer-comments h2 {
  color: #ffb843;
}

.Slides {
  display: none;
  padding: 0% 10%;
  text-align: center;
  font-family: "lato", sans-serif;

  .profilePic {
    border-radius: 50%;
    width: 50%;
    height: auto;
    @media (min-width: 1000px) {
      width: 30%;
    }
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  padding: 16px;
  font-size: 50px;
  border-radius: 20px;
  user-select: none;
  display: flex;
  justify-content: space-between;
}
.next {
  position: absolute;
  right: 0;
}

// about page css

.devTeamImg {
  position: relative;
  text-align: center;
  color: white;
}

// about page css
.aboutBackroundImg {
  border-radius: 20px;
}

.devTeam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
}

.devInfoSec {
  display: flex;
  flex-wrap: wrap;
}
.devInfo {
  width: 49.5%;
  font-size: 100%;
  text-align: center;
}
.profilePhoto {
  border-radius: 50%;
  width: 20%;
  height: auto;
}
