//Colors
@super-bright-green: #f5fdf8;
@bright-green: #6cdd9b;
@green: #059240;
@super-bright-purple: #fcd3f2;
@bright-purple: #cf60b4;
@purple: #65054e;
@yellow: #ffb843;
@pearl-white: #f5fdf8;

// desktop and tablet views

@desktop: ~"(min-width:1000px)";
@tablet: ~"(min-width:600px)";
